venv/
.venv/
__pycache__/
*.pyc
*.sql
backup_full.sql
backup.sql
.git/
.idea/
/mnt/music/
/docker/
node_modules/
services/music_manager/frontend/node_modules/
services/music_manager/frontend/.svelte-kit/
services/music_manager/frontend/.vite/
services/music_manager/frontend/dist/
