# Database Configuration
DB_HOST=db
DB_PORT=3306
DB_USER=music-management
DB_PASS=<>
DB_DB=music-management

# App Configuration
debug=True
import_folder_path=/path/to/import
music_folder_path=/path/to/music
eps_folder_path=/path/to/eps
delimiter=/
