@import '$design/theme.css';

:root {
  font-family: var(--font-family-sans);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  padding: var(--space-2xl) 0;
  text-align: center;
}
